
body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000 url("../img/body-bg.jpg") no-repeat center top;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
  color: #000000;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
.pattern-white {
  background: #ffffff url("../img/pattern-white.jpg") repeat center top;
}
.pagination::before, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}
.main-navigation {
  float: left;
  width: 780px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}
.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation a:hover {
  background: #242424;
}
.logo-barbershop,  a:hover.logo-barbershop {
  font-size: 0;
  background: url("../img/barbershop-logo.png") 50% 50% no-repeat;
  width: 111px;
}
.active {
  box-shadow: inset  0 -4px 0 0 #ffffff;
}
.user-block {
  float: right;
  max-width: 140px;
}
.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}
.login:hover {
  background-color: #242424;
}
.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -1px -15px;
  opacity: 0.3;
}
.login:hover::before {
  opacity: 1;
}
.index-logo {
  width: 368px;
  min-height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.index-logo img {
  width: 368px;
  height: 204px;
}
.features {
  margin-bottom: 80px;
}
.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.features-item:last-child {
  margin-right: 0;
}
.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}
.features-item p {
  margin: 10px;
  margin-bottom: 0;
}
.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: url("../img/index-content-shadow.png") no-repeat center,
  #f8f5f2 url("../img/pattern-white.jpg");
}
.index-content:last-child {
  margin-bottom: 65px;
}
.index-content-left {
  float: left;
  width: 380px;
}
.index-content-right {
  float: right;
  width: 300px;
}
.index-content-right {
  float: right;
  width: 300px;
}
.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}
.index-content p {
  margin: 0;
  margin-bottom: 25px;
}
.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview a {
  display: block;
  margin-bottom: 0;
  text-decoration: none;
  color: #000000;
}
.news-preview time {
  text-transform: none;
}
.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #663d15;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}
.gallery {
  position: relative;
  height: 260px;
}
.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-prev {
  left: 0;
}
.gallery-next {
  right: 0;
}
.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form .btn {
  clear: both;
  width: 100%;
}
.main-footer {
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/pattern-black.jpg");
}
.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}
.footer-contacts a {
  color: #ffffff;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}
.footer-copyright {
  float: right;
  max-width: 180px;
}
.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/sprite.png") no-repeat center;
  transition:
  background-position 0.5s,
  background-color 0.5s;
}
.social-btn:hover {
  background-color: #ffffff;
}
.social-btn-vk {
  background-position: 9px -447px;
}
.social-btn-fb {
  background-position: 15px -171px;
}
.social-btn-inst {
  background-position: 12px -313px;
}
.social-btn-vk:hover {
  background-position: 9px -381px;
}
.social-btn-fb:hover {
  background-position: 15px -100px;
}
.social-btn-inst:hover {
  background-position: 12px -242px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}
.footer-copyright .btn {
  margin-right: 0;
}
.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}
.breadcrumbs {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.breadcrumbs li {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
}
.breadcrumbs a {
  display: block;
  position: relative;
  padding: 0  40px 0 0;
  color: #000000;
  text-decoration: none;
}
.breadcrumbs a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: -5px;
  background-color: #000000;
  transform: rotate(45deg);
}
.breadcrumbs p {
  color: #aba9a7;
  margin: 0;
}
.search-form {
  color: #000000;
  display: table;
}
.manufacturers {
  margin-bottom: 50px;
}
.search-form label {
  display: table-row;
}
.search-form label:hover {
  color: #663d15;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
}
input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: url("../img/sprite.png") -3px -494px no-repeat;
}
input[type="checkbox"]:disabled + label {
  color: #afadab;
}
input[type="checkbox"]:disabled + label::before {
  background-color: #f6f3f0;
  border: 2px solid #afadab;
}
input[type="checkbox"]:disabled + label::after {
  background-position: -18px -494px;
}
.group-goods {
  margin-top: 30px;
  margin-bottom: 50px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}
input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 20px;
  background-color: #f9f6f3;
}
input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #000000;
}
input[type="radio"]:disabled + label {
  color: #afadab;
}
input[type="radio"]:disabled + label::before {
  background-color: #f6f3f0;
  border: 2px solid #afadab;
}
input[type="radio"]:disabled + label::after {
  background-color: #afadab;
}
.products-wrapper {
  margin-top: 53px;
}
.products-column-left {
  float: left;
  width: 460px;
  margin-right: 70px;
}
.products-column-left img {
  box-shadow: 0 0 15px -5px #000101;
}
.big-img {
  width: 460px
  height: 498px;
  margin-bottom: 21px;
}
.small-img img {
  width: 140px;
  height: 149px;
  font-size: 0;
  margin-right: 20px;
  float: left;
}
.small-img img:last-child {
  margin-right: 0;
  clear: right;
}
.products-column-right {
  float: right;
  width: 390px;
  margin: 0 10px;
  color: #000000;
}
.products-column-right .description {
  padding: 5px 0;
}
.description .btn {
  margin-right: -3px;
}
.description .vendor-code {
  float: right;
}
.products-column-right .price {
  padding: 8px 27px;
  font-size: 14px;
}
.set-includes {
  margin-top: 65px;
}
.set-includes ul {
  list-style: none;
  padding: 0;
}
.set-includes li {
  position: relative;
  padding-left: 20px;
}
.set-includes li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 1px;
  height: 10px;
  width: 10px;
  background-color: #000000;
  transform: rotate(45deg);
}
.search-column-left {
  float: left;
  width: 170px;
  margin-right: 70px;
}
.list-column-right {
  float: right;
  width: 700px;
  margin-top: 25px;
}
.product-card {
  float: left;
  width: 220px;
  margin: 0 20px 20px 0;
  line-height: 0;
  background-color: #ffffff;
  box-shadow: 0 0 15px -5px #000101;
}
.product-card > a {
  display: block;
}
.product-card img {
  height: 165px;
  font-size:0;
}
.product-card h2 {
  font-size: 0;
  line-height: 0;
  margin: 15px 0 15px 15px;
}
.product-card .product-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  margin: 0;
}
.product-card:nth-child(3n) {
  margin-right: 0;
}
.product-card p {
  font-size: 14px;
  line-height: 18px;
}
.product-buy {
  margin: 15px;
  font-size: 0;
}
.product-buy .btn {
  line-height: 18px;
  padding: 11px 18px;
  margin: 0;
}
.price {
  display: inline-block;
  padding: 11px 27px;
  margin: 0;
  background-color: #e5e5e5;
  color: #000000;
}
.pagination-list {
  margin: 25px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.pagination-list li {
  display: inline-block;
  font-size: 0;
}
.pagination-list a {
  display: block;
  padding: 13px 18px;
  font-size: 14px;
  line-height: 18px;
  margin-right: 7px;
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
}
.pagination-list a:hover {
  background-color: #663d15;
}
.pagination-list .here {
  background-color: #ffffff;
  color: #000000;
}
.pagination-list .here:hover {
  background-color: #ffffff;
}
